.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/
backend_server*.log
frontend_server*.log
*.pid

dataset_frames/
dataset_clean/
dataset_augmented/
hard_examples/
validacion_internet/
notebooks/

*.mp4
*.jpg
*.jpeg
*.png

models/modelo_semillas_final.keras
